body {
  display: block;
}

ul,
ol {
  list-style-type: none;
}

.card {
  border: 2px solid #000000;
  border-radius: 8px;
  width: 250px;
  background-color: #f5f2f2;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 16px;
  background-color: #1b1a1a;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: black;
}

.username {
  color: #8e8e8e;
  font-size: 14px;
}

.location {
  color: #8e8e8e;
  font-size: 16px;
  padding-bottom: 15px;
  margin: 0;
}

.stats {
  display: flex;
  justify-content: space-between;
  background-color: #928d8d;
  padding: 0;
  border-radius: 0 0 6px 6px;
  margin: auto;
  border-top: 2px solid #444242;
}

.stat {
  flex: 1;
  text-align: center;
}

.center {
  border-right: 2px solid #444242;
  border-left: 2px solid #444242;
}

.stat span {
  display: block;
  color: #000000;
  font-size: 16px;
  padding-top: 12px;
}

.stat .value {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 12px;
}