.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #141414;
}

.table th {
  background-color: #333;
  color: white;
}

.table td {
  color: black;
  font-weight: 500;
  text-transform: capitalize;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:nth-child(odd) {
  background-color: #e0e0e0;
}